button::before {
  content: attr(text);
}

button:hover::before {
  content: attr(hover-text);
}

.c-button{
  display: flex;
  width: 270px;
  height: 44px;
  color: #FFFFFF;
  font-weight: bold;

  &:hover{
    background: gray;
  }
}

.theme-green{
  background:#31AE54 ;
}

.btn-text{
  color: #FFFFFF;
  font-weight: bold;
}