.progress__top{
  height: 67px;
  width: 375px;
  border-bottom: 1px solid gray;
}

.button__buttom{
  height: 100px;
  width: 375px;
  position: absolute;
  border-top: 1px solid gray;
  bottom: 0;
}

.xButton{
  border-radius: 5px;
  display: block;
  margin: 24px 52px 52px;
}
