.headline{
  display: flex;
  justify-content: space-between;
}

.icon__logo{
  width: 174px;
  height: 36px;
  color: black;
}

.menu__item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list{
  margin-right: 24px;

  &:last-child{
    margin-right: 0;
  }
}

.home{
  width: 25px;
  height: 25px;
}

.menu__avatar{
  width: 37px;
  height: 37px;
}

.avatar__foto {
  border-radius: 50%;
}

.exit{
  width: 25px;
  height: 20px;
}

.stories{
  display: flex;
  justify-content: space-between;
}